@import "./layout/container";
@import "./layout/navigation";
@import "./components/buttons";
@import "./utilities/variables";
@import "./base/reset";
@import "./utilities/helpers";
@import "./base/general";





.bg-color {
    background-color: #f4f5f4;
}

.heart__icon {
    display: inline-block;
    padding-right: 30px;
}

.image-container {
    position: relative;
    text-align: center;
    color: rgb(59, 133, 104);
}



.map {
    text-align: center;
    padding: 15px 0;
    background: rgb(233, 233, 233);
    background: linear-gradient(0deg, rgba(233, 233, 233, 1) 85%,
            rgba(233, 233, 233, 1) 95%, rgba(198, 198, 198, 1) 100%);

    .map__marker {
        position: absolute;
        height: 28px;
        left: 90px;
        color: black;
    }

    .map__text {
        font-weight: 400;
        color: black;

    }

    a {
        text-decoration: none;
    }
}

.book {
    text-align: center;
    background-color: #f4f5f4;
    padding: 2em 2em 3em;


    .bold--font {
        font-weight: 500;
    }

    .light--font {
        font-weight: 300;
    }

    .margin__24 {
        margin-bottom: 1.5em;
    }
}

.order {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 30px;
    padding-bottom: 30px;

    .order-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .order-item {
        position: relative;
        border: 5px #f4f5f4;
        background-color: #f4f5f4;
        border-radius: 25px;
        margin: 12px;
        padding: 25px 20px;
        box-shadow:
            0 0.8px 0.9px rgba(0, 0, 0, 0.011),
            0 1.9px 2.3px rgba(0, 0, 0, 0.016),
            0 3.5px 4.3px rgba(0, 0, 0, 0.02),
            0 6.3px 7.6px rgba(0, 0, 0, 0.024),
            0 11.7px 14.2px rgba(0, 0, 0, 0.029),
            0 28px 34px rgba(0, 0, 0, 0.04);
    }

    .order__1,
    .order__2,
    .order__3 {
        position: absolute;
        left: -18px;
        color: white;
        margin-top: -5px;
    }

    .circle {
        background-color: #9356DC;
        border: 5px solid #9356DC;
        height: 28px;
        width: 28px;
        border-radius: 100%;
        text-align: center;
    }

    .order__icons {
        padding-left: 15px;
        padding-right: 20px;
        color: rgb(97, 97, 97);
    }

    .order-item-tint {
        background-color: #9256dc1c;
    }

    .order__icons-tint {
        color: #9356DC;
    }

}


.card-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f4f5f4;
    max-width: 100%;
    padding: 40px 0;
}

.card {
    display: block;
    position: relative;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow:
        0 0.9px 5.9px rgba(0, 0, 0, 0.17),
        0 3.1px 19.9px rgba(0, 0, 0, 0.101),
        0 14px 89px rgba(0, 0, 0, 0.069);
}

.card__img-top {
    height: 170px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    max-width: 100%;
}

.card__body {
    display: flex;
    padding: 15px;
}

.card__title {
    font-weight: 500;
}

.card__text {
    font-weight: 300;
}

.d-flex-grow {
    flex-grow: 1;
}

.align-self-center {
    align-self: center;
}

.checkbox-heart {
    &__input {
        display: none;

        &:checked+label {
            color: rgb(147, 86, 220);


            &:hover {
                cursor: pointer;
            }
        }
    }
}



.heart {
    display: inline;
}

.card__top-right {
    position: absolute;
    right: 20px;
    border: solid aquamarine;
    border-radius: 3px;
    top: 20px;
    padding: 5px 30px;
    background-color: aquamarine;
    color: rgb(49, 130, 100)
}




.bg__image--bastille {
    background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    height: 290px;
    width: 100%;
    background-size: cover
}

.bg__image--palette {
    background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    height: 290px;
    width: 100%;
    background-size: cover;
}

.bg__image--gourmand {
    background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    height: 290px;
    width: 100%;
    background-size: cover;
}

.bg__image--enchanted {
    background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    height: 290px;
    width: 100%;
    background-size: cover;
}

.bg {
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-top: -60px;

    .menu__heading {
        display: flex;
        justify-content: space-between;
        font-family: $font-stack-alt;
        font-weight: $font-stack-alt-1;

    }


    .menu__card-body {
        display: block;
        border: 0px solid rgb(255, 255, 255);
        border-radius: 15px;
        box-shadow:
            0 0.9px 5.9px rgba(0, 0, 0, 0.17),
            0 3.1px 19.9px rgba(0, 0, 0, 0.101),
            0 14px 89px rgba(0, 0, 0, 0.069);
        padding: 10px 30px 10px 10px;

        .menu__card-title {
            font-weight: 500;
            line-height: 1.8;
        }

        .menu__card-text {
            display: flex;
            font-weight: $font-stack-alt-1;
            justify-content: space-between;
        }

    }

}