@import "./layout/container";
@import "./base/base";
@import "./utilities/variables";

.home{
    padding: 20px 0;
    margin-left: 15px;
    margin-right: 15px;
}

.map{
    padding: 20px 0;
    margin-left: 15px;
    margin-right: 15px;
    background: #f2f2f2;
}