@import "./layout/container";
@import "./utilities/variables";
@import "./base/base";

.navbar {
    box-shadow: 0 0.5px 1.4px rgba(0, 0, 0, 0.18),
        0 4px 11px rgba(0, 0, 0, 0.09);
    text-align: center;
    padding: 12px 0;

    .navbar__back {
        position: absolute;
        left: 15px;
        color: black;
        padding-top: 10px;
    }
}

.margin-20--bottom {
    margin-bottom: 20px;
}

.margin-6--bottom {
    margin-bottom: 6px;
}

.margin-10--bottom {
    margin-bottom: 10px;
}

.margin-15--bottom {
    margin-bottom: 15px;
}

.margin-30-bottom{
    margin-bottom: 30px;
}
.margin-40px--top--bottom {
    padding: 40px 0px;
}

.margin-40px-bottom {
    margin-bottom: 40px;
}

.margin-50px--bottom{
    margin-bottom: 50px;
}
.margin-100px--bottom{
    margin-bottom: 100px;
}
.pd-30--top{
    padding-top: 30px;
}

a {
    text-decoration: none;
}

hr{
    max-width: 40px;
    border: solid 2px #99E2D0;
    margin-bottom: 20px;
}

.heart__icon{
    display: inline-block;
    padding-right: 30px;
}

.book__button {
    box-shadow: 0 8.1px 10.4px rgba(0, 0, 0, 0.12),
        0 65px 83px rgba(0, 0, 0, 0.06);
    color: white;
    background: rgb(147, 86, 220);
    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    border-radius: 1.5em;
    padding: 1em 1.5em;
    border: none;
    font-size: .9em;
}

.menu_order--button{
    display: flex;
    justify-content: center;
}

.order__button {
    box-shadow: 0 8.1px 10.4px rgba(0, 0, 0, 0.12),
        0 65px 83px rgba(0, 0, 0, 0.06);
    color: white;
    background: rgb(147, 86, 220);
    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    border-radius: 1.5em;
    padding: 15px 70px;
    border: none;
    font-size: .9em;
    align-content: center; 
}

.map {
    text-align: center;
    padding: 20px 0;
    background: rgb(233, 233, 233);
    background: linear-gradient(0deg, rgba(233, 233, 233, 1) 85%,
            rgba(233, 233, 233, 1) 95%, rgba(198, 198, 198, 1) 100%);

    .map__marker {
        position: absolute;
        left: 6em;
        color: black;
    }

    .map__text {
        position: relative;
        font-weight: 400;
        color: black;
    }

    a {
        text-decoration: none;
    }
}

.book {
    text-align: center;
    background-color: #f4f5f4;
    padding: 2em 2em 3em;


    .bold--font {
        font-weight: 500;
    }

    .light--font {
        font-weight: 300;
    }

    .margin__24 {
        margin-bottom: 1.5em;
    }
}

.order {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 30px;
    padding-bottom: 30px;

    .order-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .order-item {
        border: 5px solid #f4f5f4;
        background-color: #f4f5f4;
        border-radius: 25px;
        margin: 12px;
        padding: 22px 20px;
        box-shadow:
            0 0.8px 0.9px rgba(0, 0, 0, 0.011),
            0 1.9px 2.3px rgba(0, 0, 0, 0.016),
            0 3.5px 4.3px rgba(0, 0, 0, 0.02),
            0 6.3px 7.6px rgba(0, 0, 0, 0.024),
            0 11.7px 14.2px rgba(0, 0, 0, 0.029),
            0 28px 34px rgba(0, 0, 0, 0.04);
    }

    .order__1,
    .order__2,
    .order__3 {
        position: absolute;
        left: 15px;
        color: white;

    }

    .circle {
        background-color: #9356DC;
        border: 5px solid #9356DC;
        height: 25px;
        width: 25px;
        border-radius: 100%;
    }

    .order__icons {
        padding-left: 15px;
        padding-right: 20px;
        color: rgb(97, 97, 97);
    }
}

.card-group {
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    flex-grow: 1;
    background-color: #f4f5f4;
    max-width: 100%;

    .card {
        display: block;
        border: 0px solid rgb(255, 255, 255);
        border-radius: 15px;
        box-shadow:
            0 0.9px 5.9px rgba(0, 0, 0, 0.17),
            0 3.1px 19.9px rgba(0, 0, 0, 0.101),
            0 14px 89px rgba(0, 0, 0, 0.069);
    }

    .card__img-top {
        height: 170px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        width: 100%;
        max-width: 100%;
    }

    .card__body {
        padding: 15px;
    }

    .card__title {
        font-weight: 500;

    }

    .card__text {
        font-weight: 300;

    }

    .heart {
        display: inline;
    }
}

.footer {
    background-color: rgb(47, 47, 47);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;

    .footer__logo {
        font-family: $font-stack-alt;
        font-weight: $font-stack-alt-1;
    }

    .footer__icon {
        position: absolute;

    }

    .footer__icon-text {
        position: relative;
        left: 25px;
    }

    .footer__email {
        color: white;
    }

}

.bg__image--bastille {
    background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    height: 290px;
    width: 100%;
    background-size:cover
   
}

.bg{
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-top: -60px;

    .menu__heading {
        display: flex;
        justify-content: space-between;
        font-family: $font-stack-alt;
        font-weight: $font-stack-alt-1;

    }


    .menu__card-body {
        display: block;
        border: 0px solid rgb(255, 255, 255);
        border-radius: 15px;
        box-shadow:
            0 0.9px 5.9px rgba(0, 0, 0, 0.17),
            0 3.1px 19.9px rgba(0, 0, 0, 0.101),
            0 14px 89px rgba(0, 0, 0, 0.069);
        padding: 10px 30px 10px 10px;

        .menu__card-title {
            font-weight: 500;
            line-height: 1.8;
        }

        .menu__card-text {
            display: flex;
            font-weight: $font-stack-alt-1;
            justify-content: space-between;
        }

}

}