.navbar {
    box-shadow: 0 0.5px 1.4px rgba(0, 0, 0, 0.18),
        0 4px 11px rgba(0, 0, 0, 0.09);
    text-align: center;
    padding: 12px 0;

    .navbar__back {
        position: absolute;
        left: 15px;
        color: black;
        padding-top: 10px;
    }
}