.menu-checkbox {
    display: none;

    &:checked+label .menu__checked {
        width: 55px;
    }
}


.menu {
    display: block;
    position: relative;
    display: flex;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0.9px 5.9px rgba(0, 0, 0, 0.17),
        0 3.1px 19.9px rgba(0, 0, 0, 0.101),
        0 14px 89px rgba(0, 0, 0, 0.069);
    cursor: pointer;


    .menu__body {
        display: block;
        flex-grow: 1;
        padding: 10px 30px 10px 10px;
    }

    .menu__heading {
        display: flex;
        justify-content: space-between;
        font-family: $font-stack-alt;
        font-weight: $font-stack-alt-1;
    }

    .menu__title {
        font-weight: 500;
        line-height: 1.8;
    }

    .menu__text {
        display: flex;
        font-weight: $font-stack-alt-1;
        justify-content: space-between;
    }

    .menu__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .menu__checked {
        width: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: #99E2D0;
        cursor: pointer;
        position: relative;
        transition: .4s;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
}